[Unit]
Description=A real simple signaling server for sshx
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/signaling
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
Alias=signaling.service