<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>EnvironmentVariables</key>
        <dict>
              <key>SSHX_HOME</key>
              <string>/etc/sshx</string>
        </dict>
        <key>Label</key>
        <string>com.sshx.sshxd</string>
        <key>ProgramArguments</key>
        <array>
          <string>/usr/local/bin/sshx</string>
          <string>daemon</string>
    
        </array>
        <key>RunAtLoad</key>
        <true/>
        <key>KeepAlive</key>
        <true/>
        <key>StartInterval</key>
        <integer>3623</integer>
        <key>StandardErrorPath</key>
  <string>/var/logs/error_sshx.log</string>
        <key>StandardOutPath</key>
  <string>/var/logs/ouput_sshx.log</string>
</dict>
</plist>